@page "/game"
<h3>Jouer à AgilLex</h3>
<div>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>
<div>
    <Hangman Counter="@counter"/>
</div>

@code {
    private int counter;

    private void IncrementCount()
    {
        counter++;
    }

}
