@page "/game"
<h3>Jouer à AgilLex</h3>
<div class="mb-3">
    <label for="textInput" class="form-label">Tapez vos lettres ici.</label>
    <input type="text" class="form-control" id="textInput" @bind="textInput" @bind:event="oninput" />
</div>
<div>
    <Hangman Counter="@Responses"/>
</div>

@code {
    private int counter;

    private int Responses => textInput.Length;

    private void IncrementCount()
    {
        counter++;
    }

    private string textInput = string.Empty;

}
