@page "/greetings"

<PageTitle>Remerciements</PageTitle>

<h3>Remerciements et Crédits</h3>
<p>
    Nous tenons à exprimer notre profonde gratitude à tous ceux qui ont contribué au succès de ce projet. Leur dévouement et leur soutien ont été essentiels à chaque étape du processus.
</p>
<pre>
Contributeurs Principaux
1. Sylvain Lecourtois

Responsable du développement logiciel
Concepteur principal de l'architecture
sylvain.lecourtois@adeccogroup.com
2. Aurélien Meyer

Conception graphique et design
Illustrations et graphiques
aurelien.meyer@adeccogroup.com
3. Christine Laurent

Recherche et analyse
Rédaction et documentation
christine.laurent@adeccogroup.com
4. Guillaume Martini

Gestion de projet
Coordination des équipes
guillaume.martini@adeccogroup.com
Remerciements Spéciaux
Nous tenons également à remercier les personnes suivantes pour leur soutien et leurs conseils précieux :

L'ensemble des équipes participatives de la Cohorte 2 de la Formation Fondamentaux de l'agilité ICP, pour ses retours constructifs tout au long du projet.
Isabelle Gerard Vicalvi, pour son expertise technique et ses recommandations avisées.
L'équipe de direction de notre organisation, pour son encouragement constant.
Partenaires et Collaborateurs
Un merci particulier à nos partenaires et collaborateurs qui ont contribué à la réussite de ce projet :

Les équipes Offshores qui ont a largement contribué au développement de la solution.
Les équipes de tests transverses.
Les robots sans oublier notre ami ChatGPT 😊
Votre contribution a été inestimable et a grandement enrichi notre travail.
</pre>