@page "/"

<PageTitle>Home</PageTitle>

<h3>Bienvenue sur Agi<span class="font-weight-bold">Lex</span>!</h3>

<p>Bienvenue sur AgilLex, le premier jeu lexical sur le thème de l'agilité !</p>

<p>
    Commencez par consulter la théorie de l'agilité, puis affrontez le terrible jeu de pendu ! Saurez-vous retrouver les 4 valeurs de l'agilité ?
    Prêts ?
</p>
<p>A vous de jouer !</p>

<p>L'équipe Agilex.</p>

<img src="images/agilex.png" class="img-fluid" />