@page "/principes"

<PageTitle>Principes</PageTitle>

<h3>Théorie de l'Agilité</h3>
<p>Images copyRight Adecco Isabelle GV 2024</p>

<div>
    <h4>Les valeurs de l'Agilité'</h4>
    <img src="images/valeurs.png" class="img-fluid" />
</div>

<div>
    <h4>Les principes de l'Agilité'</h4>
    <img src="images/principes.png" class="img-fluid" />
</div> 
