@page "/rules"
<h3>Les règles du jeu</h3>

<p>
    Le but du jeu est simple : deviner toutes les lettres qui doivent composer un mot, avec un nombre limité de 10 tentatives sur les 4 valeurs et les 12 principes de la méthode AGILE.
</p>
<p>    
    A chaque fois que le joueur devine une lettre, celle-ci est affichée. Dans le cas contraire, le dessin d’un pendu se met à apparaître…
</p>


@code {

}
